.home-page {
  padding: 20px;
  background-color: #f9f9f9;
}


.home-page h2 {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 28px;
  color: #19737a;
}

/* Slider Section */
.slider {
  margin-bottom: 40px;
}

/* Featured Products Section */
.featured-products {
  margin: 40px 0;
}

/* Flash Sale Section */
.flash-sale {
  margin: 40px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Testimonials Section */
.testimonials {
  margin: 40px 0;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: 1fr 1fr;
  }

  .testimonials-slider {
    overflow-x: scroll;
  }

  .testimonial {
    min-width: 80%;
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr;
  }

  .flash-sale {
    padding: 10px;
  }
}

  /* Adjust the styling for dark mode */
  [data-theme='dark'] .home-page {
    background-color: #333;
    color: #fff;
  }

  [data-theme='dark'] .home-page h2 {
    color: #fff;
  }

  [data-theme='dark'] .flash-sale {
    background-color: #444;
    color: #fff;
  }

  [data-theme='dark'] .flash-sale h3 {
    color: #fff;
  }

  [data-theme='dark'] .flash-sale p {
    color: #ccc;
  }

  [data-theme='dark'] .testimonials {
    background-color: #444;
    color: #fff;
  }

  [data-theme='dark'] .testimonial {
    background-color: #555;
    color: #fff;
  } 
