.flash-sale {
    padding: 20px;
    background-color: #f9e3d2;
  }
  
  .countdown-timer {
    font-size: 18px;
    color: #19737a;
    margin-bottom: 15px;
    text-align: center;
  }
  
  h3 {
    font-size: 1.5em;
    color: #19737a;
    margin-bottom: 10px;
    text-align: center;
  }
  